

.brand-logo{
    color: #101010;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;  
    width: 63.25rem;
    
}
.hundred{
    font-size: 4.375rem;
    position: relative;
    top: 9.375rem;
    left: 8.125rem
    
}
.twohundred{
    font-size: 8.75rem;
    position: relative;
    left: 8.125rem;
    
}
.hundredtwo{
    font-size: 4.375rem;
    position:relative;
    left: 8.125rem;
    bottom: 9.375rem;
}
li{
    list-style: none;
}
.three{
    font-size: 1.75rem;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    position:relative;
    left: 7.5rem;
    Bottom: 7.5rem;
}
.bold{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.twenty{
    font-size: 0.875rem;
    color:#101010;
}
.regular{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer-box{
    height: 17.5rem; 
    background-color:#F0F0F0;
    
}
.menu-bar{
    height: 4.1875rem;
    background-color: #101010
}
.menu-bar-item{
    color: #f0f0f0;
    position: static;
    top: center;
    font-size: 1.25rem;
    text-decoration: none;
}
.footer-menu{
    display: inline-block;
    margin: 1.875rem;
}
.nav-container{
    display: flex;
   justify-content: center;
   justify-content: space-around;
   padding-top: 1.25rem;
    position: relative;
    left: 1.25rem;
}
.footer-container{
    display: flex;
    justify-content: center;
    Justify-content: space-around;
    padding-left: 130px;
    
}
.icon-container{
    display: flex;
    gap: 1.25rem;
}
.logo-container{
    display: flex; 
    justify-content: space-between;
}
.footer-box a:link{
    text-decoration: none;
    text-decoration-color: none;
    color: #101010;
}
.UImeetUX{
    background-color: #101010;
    width: 51.75rem;
    height: 64rem;
    left: 8.125rem;
    display: flex;
}
.UI{
    color: gray;
    font-family: proxima-nova, sans-serif;
    font-size: 18.74rem;
    position: relative;
    bottom: 16rem;
    left: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;

}
.meet{
    font-family: proxima-nova, sans-serif;
    color: white;
    font-size: 4.375rem;
    position: relative;
    bottom: 20rem;
    left: 18rem;
    margin-bottom:0rem;
}
.UX{
    font-family: proxima-nova, sans-serif;
    font-size:18.75rem;
    position: relative;
    bottom: 38rem;
    color: grey;
    left: 23rem;
    margin-bottom:0rem

}

.copyright{
    position:relative;
    bottom: 3rem;
    text-align: center;
    font-size:0.8rem;
    margin-bottom:0rem;
}