.brand-logo{
    color: #101010;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;  
    
}
.hundred{
    font-size: 70px;
    position:relative;
    top: 150px;
    left: 130px
    
}
.twohundred{
    font-size: 140px;
    position: relative;
    left: 120px
    
}
.hundredtwo{
    font-size: 70px;
    position:relative;
    left: 130px;
    bottom:150px;
}
li{
    list-style: none;
}
.three{
    font-size: 28px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 120px;
}
.bold{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.twenty{
    font-size: 14px;
}
.regular{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.footer-box{
    height: 280px; 
    width: 1920px; 
    background-color:#F0F0F0;
    
}
.menu-bar{
    height: 67px;
    width: 1920px;
    background-color: #101010
}
.menu-bar-item{
    color: #f0f0f0;
    position: static;
    top: center;
    font-size: 20px;
}
.footer-menu{
    display: inline-block;
    margin: 30px;
}
.nav-container{
    display: flex;
    gap: 100px;
    padding: 20px;
    padding-left: 130px;
    position: relative;
    left: 20px
}
.footer-container{
    display: flex;
}
.icon-container{
    display: flex;
    gap: 20px;
}
